<!DOCTYPE html> <!--DOCTYPE => VERSIÓN de la página*/-->
<html lang="en"><!--HTMl => INICIO de la página*/-->
<head> <!--HEAD => CONFIGURACIÓN de la página*/-->
    <meta charset="UTF-8"> <!--UTF-8 => CONFIGURACIÓN de CARACTERES*/-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Enviando un archivo al navegador</title>
</head>
<body> <!--BODY => CONTENIDO de la página-->
    <h1>¡Hola mundo!</h1>  <!--H1 hasta H6 y las P => ETIQUETAS DE TEXTOS Y P elemento de párrafo-->
    <p>Esto salio de maravilla</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore rerum iusto, voluptate sequi, perspiciatis nulla, unde quaerat tempore inventore amet sed voluptas dignissimos fugiat dicta? Ullam eum magni voluptatum voluptatibus.</p>
</body>
<div>  <!--DIV => ETIQUETA de BLOQUE-->
<P>ETIQUETA DE BLOQUE</P>
</div>
<span>ETIQUETA DE LÍNEA</span>  <!--SPAN => ETIQUETA de LÍNEA-->
<ol>
    <li>Primer ítem</li> <!--LISTAS ORDENADAS-->
</ol>
<ol type="A"> <!--atributos => numérico (1), alfabético(A), numérico(i)-->
    <li>Segundo ítem</li>
</ol>
<ul>
    <li>Primer ítem</li> <!--LISTAS DESORDENADAS-->
</ul>
<ul type= "circle"> <!--atributos => disc, circle, square, none-->
    <li>segundo ítem</li>
</ul>
</html>