body.home{
    width: 100%; /*ANCHO*/   
    font-family: 'Abel';
}

*{
    box-sizing: border-box;
}

/*PSEUDO SELECTORES*/

/*PSEUDO CLASE*/
a{
    color: violet;
    text-decoration: none;
}
a:visited{
    color: teal;
}

p{
    color: tomato;
    text-decoration: none;
}
p:hover{
    color: orangered;
    text-decoration: underline;
}
.warning-text:hover{
    color: red;
    background-color: saddlebrown;
}


input:focus{
    color: orange;
    font-weight: bold;
}

/*PSEUDO ELEMENTO*/
h3::before{
    content:'¡Voy antes!';
}